body {background-color: white; color: black;}

A {text-decoration: none;}
A:link { color : blue }
A:visited { color : blue }
A:active { color : green }
A:hover { color : blue; background-color: rgb(80%,80%,100%);}
xA:hover { color : red; background-color: rgb(80%,80%,80%);}

.hov{
background-color: rgb(95%,95%,100%);
}

.hov:hover{
color : white; background-color: rgb(60%,60%,100%);
text-shadow:1px 1px 0 black,-1px 1px 0 black,1px -1px 0 black,-1px -1px 0 black;
}

PRE {font-size: 100%;}

.chapter    {font: bold; font-size: 180%;}
.section    {font: bold; font-size: 150%; }
.subsection {font: bold; font-size: 130%; background-color: silver;}
.subsubsection {font: bold; font-size: 110%;}

.center    {text-align: center}
.left    {text-align: left}
.right    {text-align: right}

.bf {font-weight: bold;}
.tt {font-family: monospace; }
.it {font-style: italic;}

.bftt {font-family: monospace; font-weight: bold;}
.btt {font-family: monospace; font-weight: bold;}

.paper-title {font-weight: bold}

.indent {margin: 0em 0em 0em 1em;}
.quote {margin: 1em 1em 1em 1em;}

.cancel {text-decoration: line-through;}

.fbox {border-width: 1pt; border-style: solid;}

.pagetitle    {font: bold; font-size: 150%; }
.field {font: bold; font-size: 130%; background-color: silver;}

.fg-red {color: red;}
.underline {text-decoration: underline;}
